@font-face {
    src: url("fonts/CursedTimer.ttf");
    font-family: Cursed Timer;
}

#pts-interface {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    background: #0a2342;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 660px;
    margin: 40px auto 0px auto;
    padding: 40px 0px;
}

#home-section, #away-section {
    width: 200px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

#home-title, #away-title {
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 3px;
    margin: 0px;
}

#home-pts, #away-pts {
    margin: 15px 0px;
    background: black;
    border-radius: 5px;
    padding: 25px 25px 19px 25px;
    font-size: 80px;
    text-align: right;
    font-family: Cursed Timer;
    color: #F0A202;
}

#home-pts-btns, #away-pts-btns {
    display: flex;
    justify-content: space-between;
}

.pts-btn {
    display: block;
    background: #061A33;
    border: none;
    border-radius: 5px;
    padding: 15.5px;
    font-family: Cursed Timer;
    color: whitesmoke;
    font-size: 20px;
}

.undo-btn {
    display: block;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    background: #061A33;
    border: none;
    border-radius: 5px;
    padding: 15.5px;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

#period-interface {
    width: 660px;
    margin: 0px auto;
    padding-bottom: 40px;
    background: #0a2342;
}

#period-title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
}

#btn-period-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#period-number {
    background: black;
    border-radius: 5px;
    font-family: Cursed Timer;
    color: #F0A202;
    padding: 25px 23px 20px 25px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    margin: 0px 25px;
}

.arrow-btn {
    display: block;
    background: #061A33;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    height: 75px;
}

button:not(#reset-btn):hover {
    background: #021122;
    cursor: pointer;
}

#reset-section {
    width: 660px;
    margin: 0px auto;
    padding-bottom: 40px;
    background: #0a2342;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#reset-btn {
    background: #B80000;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

#reset-btn:hover {
    background: #9D0000;
    cursor: pointer;
}